@charset "UTF-8";

#board-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
}

#board-contents-fake {
    min-height: 50vh;
    height: auto !important;
}

#board-contents-fake {
    font-family: auto;
}

#board-contents-fake img{
    cursor: grab;
    max-width: 80vw;
    max-height: 80vh;
}

@media (min-width: 1200px){
    #board-contents-fake img{
        cursor: pointer;
        max-width: 1000px;
        max-height: 1000px;
    }
}

#board-contents-thumbnail, #board-contents-image {
    height: 200px;
    box-sizing: border-box;
    text-align: center;
}

#board-contents-image {
    max-width: 100%;
    overflow: auto;
}

#board-contents-thumbnail > img, #board-contents-image > img {
    cursor: pointer;
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
    transition: 1s all;
}

#board-upload {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
}

#board-upload > img {
    margin: 5px;
    max-width: 150px;
    max-height: 150px;
    transition: 1s all;
}