@charset "UTF-8";

#board {
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

#board-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
}

#board-contents-fake {
    height: 50vh;
    font-family: 맑은 고딕, monospace;
}

#board-contents-image > img {
    cursor: pointer;
    max-width: 150px;
    max-height: 150px;
}