@charset "UTF-8";
@font-face {
    font-family: 'Dotkey';
    src: url(https://xasquatch.net/3_font/DungGeunMo.ttf) format('truetype');
    src: url(https://xasquatch.net/3_font/DungGeunMo.eot);
    /*src: url(font/DungGeunMo.woff2) format('woff2');*/
    /*src: url(font/DungGeunMo.woff) format('woff');*/
    /*src: url(font/DungGeunMo.ttf) format('truetype');*/
    /*src: url(font/DungGeunMo.otf) format('opentype');*/
    /*src: url(font/DungGeunMo.eot);*/
}
*:not(#board-contents-fake):not(.glyphicon):not(#board-contents-fake *) {
    font-family: Dotkey, monospace;
}

#main-header {
    display: grid;
    grid-template-columns: 250px 1fr;
    top: 0;
    padding: 10px;
}

#header-left {
    display: flex;
    width: 230px;
    border-radius: 20px;
}

#header-left > img {
    width: 40px;
    height: 40px;
}

#header-left > h1 {
    font-weight: bold;
    margin: auto 0;
    font-size: 40px;
}

#header-right {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 30px;

}

#header-right > * {
    margin: auto 5px;
}

#main-footer {
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
