@charset "UTF-8";
#main-header {
    display: grid;
    grid-template-columns: 250px 1fr;
    position: sticky;
    top: 0;
    padding: 10px;

}

#header-left {
    display: flex;
    width: 230px;
    background-color: black;
    color: white !important;
    border-radius: 20px;
}

#header-left > img {
    width: 70px;
    height: 70px;
}

#header-left > h1 {
    font-weight: bold;
    margin: auto 0;
}

#header-right {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size: 30px;

}

#header-right > * {
    margin: auto 5px;
}

#main-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}