@charset "UTF-8";

#board-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
}

#board-contents-fake {
    height: 400px !important;
    font-family: auto;
}

#board-contents-fake img{
    max-width: 100%;
}

#board-contents-thumbnail, #board-contents-image {
    height: 200px;
    box-sizing: border-box;
    text-align: center;
}

#board-contents-image {
    max-width: 100%;
    overflow: auto;
}

#board-contents-thumbnail > img, #board-contents-image > img {
    cursor: pointer;
    max-width: 150px;
    max-height: 150px;
    margin: 5px;
    transition: 1s all;
}

#board-upload {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    height: 200px;
    overflow: auto;
}

#board-upload > img {
    margin: auto 5px;
    width: auto;
    max-height: 100px;
    object-fit: contain;
}
#board-upload > img:HOVER{
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.board-list-title{
    display: flex;
    justify-content: space-between;
}
.board-list-contents>table td{
    max-width: 300px;
    white-space:nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-list-contents>table td>img{
    width: 5rem;
    max-height: 5rem;
}

.board-list-count button{
    min-width: 30px !important;
    height: 30px !important;

}