@charset "UTF-8";

#board-bar {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
    margin: 0 !important;
}

#board-contents-fake {
    height: 400px !important;
    font-family: auto;
    overflow: auto;
}

#board-contents-thumbnail, #board-contents-image {
    height: 150px;
    padding: 3px !important;
    box-sizing: border-box;
    text-align: center;
}

#board-contents-image {
    max-width: 100%;
    overflow: auto;
}
#board-contents-thumbnail{
    display: flex;
    justify-content: center;
}
#board-contents-thumbnail > img{
    margin: auto 0;
}
#board-contents-thumbnail > img, #board-contents-image > img {
    cursor: pointer;
    max-width: 140px;
    max-height: 140px;
    margin: 5px;
    transition: 1s all;
    object-fit: contain;
}

#board-upload {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    height: 200px;
    overflow: auto;
}

#board-upload > img {
    margin: auto 5px;
    width: auto;
    max-height: 100px;
    object-fit: contain;
}
#board-upload > img:HOVER{
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.board-list-title, .repository-list-title{
    display: flex;
    justify-content: space-between;
}
.board-list-title>div:nth-child(2)>*{
    margin-left: 10px;
}
.board-list-title>div:nth-child(2)>*{
    margin: auto 0;
}
.board-list-contents>table td{
    max-width: 300px;
    white-space:nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-list-contents>table td>img{
    width: 5rem;
    max-height: 5rem;
}

.board-list-count button{
    min-width: 30px !important;
    height: 30px !important;

}
#board-list-toolbar button{
    margin: 5px;
}

.repository-list-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.repository-list-box>div{
    display: flex;
    align-items: center;
    width: 160px;
    height: 200px;
    margin: 3px;
    animation: 0.5s stretchWidth;
    flex-direction: column;
    justify-content: flex-start;
}
.repository-list-box>div>*{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    padding: 10px;
    box-sizing: border-box;
}
.repository-list-box>div>h3{
    margin: 0;
    height: 3em;
    overflow: hidden;
    text-align: center;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes stretchWidth {
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 200px;
        height: 200px;
    }
}

#board-view-contents{
    padding: 10px 20px;
    margin-bottom: 50px;
}