@charset "UTF-8";
a{
    color: inherit !important;
    text-decoration: none !important;
}
a:HOVER{
    color: inherit !important;
    text-decoration: none !important;
}
blockquote {
    font-size: inherit !important;

}
.btn-link-red{
    color: black;
    transition: 0.5s all;
    text-decoration: none;
    outline: auto darkgray;
    border-color: transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link-red:hover,
.btn-link-red:active {
    background-color: darkred;

}

.btn.active, .btn:active {
    color: darkred !important;

}