@charset "UTF-8";
@font-face {
    font-family: 'Dotkey';
    src: url(../font/DungGeunMo.woff2) format('woff2'),
    url(../font/DungGeunMo.woff) format('woff'),
    url(../font/DungGeunMo.ttf) format('truetype'),
    url(../font/DungGeunMo.otf) format('opentype'),
    url(../font/DungGeunMo.eot);
}
/*
*:not(#board-contents-fake):not(.glyphicon):not(font):not(b):not(i):not(blockquote):not(span):not(div) {
    font-family: Dotkey, monospace;
}
*/
.dot-key{
    font-family: Dotkey, monospace;
    font-weight: bold;
}

/*-------------header, footer, aside----------------*/

#main-header {
    display: grid;
    grid-template-columns: 200px 1fr;
    top: 0;
    padding: 10px;
    background-color: white;
    width: 100%;
}

#header-left {
    display: flex;
    width: 200px;
    border-radius: 20px;
}

#header-left > img {
    width: 40px;
    height: 40px;
}

#header-left > h1 {
    font-weight: bold;
    margin: auto 0;
    font-size: 40px;
}

#header-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 30px;

}

#header-right > * {
    margin: auto 5px;
}

#main-footer {
    width: 100%;
    position: fixed;
    z-index: 2000;
    text-align: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

#main-aside {
    padding: 50px 0;
    width: 200px;
    font-size: 2rem;
    font-weight: bold;

}

#mobile-hamburger {
    display: none;
}

@media (max-width: 1200px) {
    .header-menu-btn{
        display: none !important;
    }

    #main-aside {
        display: block;
        position: fixed;
        padding: 100px 5vw 20px 5vw;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1000;
        left: 0;
        text-align: center;
    }
    .forward-to-top {
        bottom: -100%;
    }

    #mobile-hamburger {
        display: block;
    }

}

/*END: header, footer, aside----------------*/

/*----------------general setting---------------*/
.opacity-0 {
    opacity: 0;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.wrap {
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.wrap-min {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.wrap-grid {
    max-width: 1200px;
    display: grid;
    padding: 10px;
    grid-template-columns: 200px 1fr;
    box-sizing: border-box;
    margin: 0 auto;
}
.wrap-grid>section{
    margin: 0 auto;
    padding: 10px;

}

@media (max-width: 1200px) {
    .wrap-grid {
        max-width: 1200px;
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
    }

}

/*END: general setting---------------*/

/*--------------------------home.jsp------------------*/

.input-character{
    background-color: rgba(37, 92, 194, 1);
    filter: invert(100%);
}

#home-banner {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

#home-login .form-group {
    margin-right: 0;
    margin-left: 0;
}


#home-banner > video {
    width: 100%;
    max-width: 460px;
}

#home-banner > h1 {
    transition: 1s all;

}

#user-sign-contents {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}

#user-sign-contents > .btn {
    border-radius: 30px;
}

.xasquatch-btn-logo {
    max-width: 32px;
    max-height: 32px;

}

#user-signup > .input-group {
    width: 100%;
}

#user-signup .input-group-addon {
    width: 150px;
}

.form-explain{
    font-weight: bold;
    font-size: 0.5vw !important;
    background-color: lightgray !important;
    padding: 5px !important;
}

/*END: home.jsp------------------*/
/*----------contents-aside-------*/
.wrap-grid > section {
    display: block;
    max-width: 1000px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}


/*END: contents-aside-------*/
